<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linno.cn.mapper.SystemUserMapper">

    <resultMap id="BaseResultMap" type="com.linno.cn.domain.SystemUser">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="email" column="email" />
            <result property="mobile" column="mobile" />
            <result property="status" column="status" />
            <result property="createUserId" column="create_user_id" />
            <result property="createTime" column="create_time" />
            <result property="shopId" column="shop_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,email,mobile,status,
        create_user_id,create_time,shop_id
    </sql>
</mapper>
